[submodule "cmake/sugar"]
	path = cmake/sugar
	url = https://github.com/Draghi/sugar.git
[submodule "cmake/glm"]
	path = cmake/glm
	url = https://github.com/Draghi/glm.git
[submodule "cmake/rapidjson"]
	path = cmake/rapidjson
	url = https://github.com/Draghi/rapidjson
[submodule "cmake/backward-cpp"]
	path = cmake/backward-cpp
	url = https://github.com/Draghi/backward-cpp.git
[submodule "cmake/glfw"]
	path = cmake/glfw
	url = https://github.com/Draghi/glfw.git
[submodule "cmake/GL4"]
	path = cmake/GL4
	url = https://github.com/Draghi/GL4.git
[submodule "cmake/stb"]
	path = cmake/stb
	url = https://github.com/Draghi/stb.git
[submodule "cmake/msgpack-c"]
	path = cmake/msgpack-c
	url = https://github.com/Draghi/msgpack-c.git
[submodule "cmake/brotli"]
	path = cmake/brotli
	url = https://github.com/Draghi/brotli.git
[submodule "cmake/memory"]
	path = cmake/memory
	url = https://github.com/foonathan/memory
[submodule "cmake/mini_al"]
	path = cmake/mini_al
	url = https://github.com/Draghi/mini_al.git
